<%- layout("layouts/main") %>

<%- include("../partials/title") %>

<div class="container">
  <form method="post" action="/users/login">
    <section class="mb-2">
      <label for="username">Username</label>
      <br>
      <input type="text" name="username" id="username" required maxlength="20" class="form-control w-25">
    </section>
    <section>
      <label for="password">Password</label>
      <br>
      <input type="password" name="password" id="password" required maxlength="100" class="form-control w-25">
    </section>
    <% if (warning_message) { %>
    <hr>
    <div class="alert alert-warning" role="alert">
      <%=warning_message%>
    </div>
    <% } %>
    <% if (success_message) { %>
      <hr>
      <div class="alert alert-success" role="alert">
        <%=success_message%>
      </div>
      <% } %>
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
    <hr>
    <div class="d-flex">
      <div class="p-2">
        <a href="/users/signup">Sign up</a>   
      </div>
    </div>
  </form>
</div>