<%- include("../partials/head") %>

<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/posts">Posts</a>
        <a class="nav-item nav-link" href="/posts/new">New Post</a>
      </div>
      <div class="navbar-nav">
        <a href="/users/login" class="badge badge-primary m-2 p-2">Log in</a>
        <a href="/users/signup" class="badge badge-secondary m-2 p-2">Sign up</a>
      </div>
    </div>
</nav>
</header>

<%- include("../partials/title") %>

<div class="container">
    <form method="post" action="/users/login">
        <section class="mb-2">
            <label for="username">Username</label>
            <br>
            <input type="text" name="username" id="username" required maxlength="20" class="form-control w-25">
        </section>
        <section>
            <label for="password">Password</label>
            <br>
            <input type="password" name="password" id="password" required maxlength="100" class="form-control w-25">
        </section>
        <% if (message) { %>
        <hr>
        <div class="alert alert-warning" role="alert">
          <%=message%>
        </div>
        <% } %>
        <hr>
        <button type="submit" class="btn btn-primary">Submit</button>
        <hr>
        <div class="d-flex">
          <div class="p-2">
            <a href="/users/signup">Sign up</a>   
          </div>
        </div>
    </form>
</div>

<%- include("../partials/footer") %>