<script>
  function validate() {
    console.log('validating')
    let pass1 = document.forms['signup_form'][ 'password'].value
    let pass2 = document.forms['signup_form']['rpassword'].value
    if (pass1 !== pass2) {
      alert("Passwords must match!"); return false
    }
  }
</script>

<%- layout("layouts/main") %>

<%- include("../partials/title") %>

<div class="container">
  <form method="post" action="/users/signup" name="signup_form" onsubmit="return validate()">
    <section class="mb-2">
      <label for="username">Username</label>
      <br>
      <input type="text" name="username" id="username" required maxlength="20" class="form-control w-25">
    </section>
    <section class="mb-2">
      <label for="password">Password</label>
      <br>
      <input type="password" name="password" id="password" required maxlength="100" class="form-control w-25">
    </section>
    <section>
      <label for="rpassword">Password again</label>
      <br>
      <input type="password" name="rpassword" id="rpassword" required maxlength="100" class="form-control w-25">
    </section>
    <% if (warning_message) { %>
    <hr>
    <div class="alert alert-warning" role="alert">
      <%=warning_message%>
    </div>
    <% } %>
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
    <hr>
    <div class="d-flex">
      <div class="p-2">
        <a href="" onclick="history.back()">Back</a>
      </div>
    </div>
  </form>
</div>