
<hr>
<footer class="p-5">
    <div class="container text-center">
        Made by Peter Verebics. The source code can be found on GitHub.
        <a href="https://github.com/">visit</a>
    </div>
</footer>
<hr>

</body>
</html>