<%- layout("layouts/main") %>

<%- include("../partials/title") %>

<div class="container">
  <form method="post" action="/posts">
    <section>
      <label for="title">Title:</label>
      <br>
      <input type="text" name="title" id="title" required maxlength="100" class="form-control" placeholder="Title">
    </section>
    <hr>
    <section>
      <label for="text">Post:</label>
      <br>
      <textarea name="text" id="text" cols="60" rows="10" required class="form-control" placeholder="Markdown or plain text ..."></textarea>
    </section>
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>